
{%extends 'base.html'%}

{%block 'head'%}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
{%endblock%}

{% block 'conteudo'%}
<div style="align-items: center; text-align: center;">
    <div class="container">
        {% if erro == '1'%}
        <br>
        <br>
        <div class="alert alert-danger" role="alert">
            Confira a quantidade de adicionais selecionados
        </div>
    {%endif%}

    </div>
    <img class="tamanhoImg" style="margin-top: 20px;" src="/media/{{produto.img}}">
    
    <h3  class="titulo tituloProduto">{{produto.nome_produto}}</h3>
    <hr style="width: 250px;">
    <h1 class="titulo subTituloProduto">Descrição: </h1>
    <h3 style="color: gray;">{{produto.descricao}}</h3>
    <h1 class="titulo subTituloProduto">Ingredientes: </h1>
    <h3 style="color: gray;">{{produto.ingredientes}}</h3>

    <h1 class="titulo subTituloProduto">Escolha seus adicionais: </h1>

    <form method="POST" action="{% url 'add_carrinho'%}">{% csrf_token %}
    <input name="id" style="display: none;" type="text" value="{{produto.id}}">
    {% for i in produto.adicionais.all %}
    <h1>{{i}}</h1>
    <p>Escolha no mínimo {{i.minimo}} e no máximo {{i.maximo}} {{i}}</p>
        {%for j in i.opcoes.all%}
            {%if j.ativo%}
                <div>
                <input type="checkbox" class="checkbox" name="{{i}}" value={{j.id}}>
                <label for="scales">&nbsp&nbsp&nbsp{{j}} + R${{j.acrecimo}}</label>
                </div>
                <br>
            {%endif%}
        {%endfor%}
    {% endfor %}
    <h1 class="titulo subTituloProduto">Observações: </h1>
    <input name="observacoes" class="observacoes" type="text">

    <h1 class="titulo subTituloProduto">Quantidade: </h1>
    <input name="quantidade" class="observacoes" type="number"  min="1" max="200" value="1">

    <h1 class="titulo subTituloProduto">Preço: </h1>
    <h3>R${{produto.preco}} Unidade</h3>

    <input class="botao" type="submit" value="Adicionar carrinho">
</form>

</div>

{%endblock%}
